# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BookingSample.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\FPT\Capstone\booking-sample\.idea\.idea.BookingSample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
